---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}</ul>{% endunless %}

      <time class="year lead d-block">{{ cur_year }}</time>
      {{ '<ul class="list-unstyled">' }}

      {% assign last_year = cur_year %}
    {% endif %}

    <li class="archive-entry">
      {% assign ts = post.date | date: '%s' %}
      <div class="archive-entry__stamp">
        <span class="archive-entry__day date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
        <span class="archive-entry__month date month" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
          {{ post.date | date: df_strftime_m }}
        </span>
      </div>
      <a class="archive-entry__link" href="{{ post.url | relative_url }}">
        <span class="archive-entry__dot" aria-hidden="true"></span>
        <span class="archive-entry__title">{{ post.title }}</span>
      </a>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
